notes.md

**/__pycache__
wandb

# 1. Ignore all files inside the data folder
data/**/*

# Allow all directories inside data 
!data/**/

# Exception: Keep any README.md anywhere inside data/
!data/**/README.md

# Exception: Keep any file with "_sample" in the name anywhere inside data/
!data/**/*_sample*

# Exception: keep all files in data/src/
!data/src/**
